.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* PHẢI THÊM THẺ DIV LỒNG NGOÀI CÓ THUỘC TÍNH NÀY  BẰNG D-FLEX VÀ FLEX-WRAP  */
/* -------------------DEVICE 5 COLUMNS IN BOOSTRAP------------------- */
/* .col-2dot4, 
.col-sm-2dot4, 
.col-md-2dot4, 
.col-lg-2dot4,  */
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media screen and (max-width: 900px) {
  .nav-right-item a i p {
    display: none;
  }
}




@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}


/*----------------TEXT OVERFLOW ----------------------- */

/* 2 dòng trở lên sẽ có dấu 3 chấm chỉ show 2 dong, muốn thay đổi chỉnh 
   -webkit-line-clamp: 2;*/
.handel-text-two-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.handel-text-one-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
}

/* ---------------------END FONT--------------------- */


* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.marginTop55px {
  margin-top: 55px;
}


.container {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.background-color-main {
  background-color: #f6f9fc;
}

.Navbar {
  background-color: #f6f9fc;
  height: 115px;
}

@media screen and (max-width: 987px) {
  .Navbar {
    height: 150px !important;
  }
}

@media screen and (max-width: 513px) {
  .Navbar {
    height: 185px !important;
  }
}

@media screen and (max-width: 420px) {
  .Navbar {
    height: 220px !important;
  }
}

.Narvar_border2 {
  z-index: 1;
  margin-top: 5px;
  background-color: #76bdee;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 1175px;
  transition: all 0.9s ease;
}

.Narbar02 {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.Narvar_border2.top-0 {
  top: 0;
  position: fixed;
}

.Narvar_border2.top-70 {
  /* top: 70px; */
}

.Narbar02 ul {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  transition: all 0.4s ease;
  padding: 5px;
  margin: 0;
}

.Narbar02 ul li {
  height: 30px;
  border: 1px solid #0065EE;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

.Narbar02 ul li:hover {
  border: 2px solid #0065EE;
}

.Narbar02 ul li a {
  color: black;
}


.Narbar02 ul li a img {
  width: 85px;
}

.Narbar02 ul li ul {
  position: absolute;
  z-index: 999;
  width: 160px;
  height: fit-content;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #0065EE;
  margin-top: 5px;
  padding: 5px;
  display: none;

}

.Narbar02 ul li ul li {
 margin-bottom: 5px;
 background-color: #ffffff;
}
.Narbar02 ul li ul li:last-child {
  margin-bottom: 0;
 }
.Narbar02 ul li ul li:hover {
  background-color: #0065EE;
 }
 .Narbar02 ul li ul li:hover a p {
  color: #ffffff;
 }

.Narbar02 ul li ul li a p {
text-align: start; 
padding-left: 10px;
}

.Narbar02 ul li:hover ul {
 display: block;
}


.Narvar_border1 {
  margin-top: 5px;
  background-color: #76bdee;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
  max-width: 1175px;
  position: relative;
}



.Navbar01 {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #f6f9fc;
  border-radius: 5px;
  padding: 5px 0px;
}


.nav-left-logo img {
  width: 60px;
  background-color: #f6f9fc;
}

.nav-left-find-product {
  position: relative;
  width: 55%;
}



.nav-left-find-prodcut-input input {
  left: 0;
  position: absolute;
  font-size: 13px;
  width: 100%;
  height: 35px;
  border: 1px solid #0065EE;
  border-radius: 5px;
  text-align: start;
  margin: 12px 0 0 0;
  background-color: #ffffff;
  display: block;
  color: #0065EE;
  padding-left: 50px;
  margin-left: 20px;
}

/* KHÔNG HIỆN VIỀN KHI LICK VÀO INPUT */
.nav-left-find-prodcut-input input:focus {
  outline: none;
  border: 2px solid #0065EE;
}

.nav-left-find-prodcut-input-bottom button {
  font-size: 20px;
  width: 14px;
  height: 14px;
  position: absolute;
  color: #0065EE;
  background-color: #ffffff;
  border: none;
  left: 30px;
  top: 12px;
  margin-top: 2px;
}

.nav-left-find-product-border-left {
  position: absolute;
  left: 55px;
  top: 15px;
  width: 10px;
  height: 28px;
  border-right: 1px solid #0065EE;
}

.nav_space {
  width: 120px;
}

@media screen and (max-width: 900px) {
  .nav-right-item a i p {
    display: none;
  }
}

.nav-right-item a i p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 5px;
  font-weight: normal;
  color: #1c1f23;

}


.nav-right-account a i p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 5px;
  font-weight: normal;
  color: #1c1f23;
}

.nav-right-account-option {
  position: fixed;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 245px;
  justify-content: center;
  border: 1px solid #0065EE;
  transform: translateX(-150px);
  border-radius: 10px;
  padding: 10px 5px 5px 5px;
  background-color: #ffffff;
  display: none;
}


.nav-right-account-option-button1 a button {
  width: 232px;
  background-color: #0065EE;
  border: 1px solid #0065EE;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.nav-right-account-option-button1:hover a button {
  font-weight: bold;
}

.nav-right-account-option-button2 a button {
  margin-top: 10px;
  width: 232px;
  background-color: #e0374a;
  border: 1px solid #e0374a;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.nav-right-account-option-button2:hover a button {
  font-weight: bold;
}

.nav-right-account:hover .nav-right-account-option {
  display: block;
}



.nav-right {
  padding-top: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
  transform: translateY(15px);
  z-index: 2;
}

.nav-right div i {
  color: #0065EE;
  margin-right: 5px;
  font-size: 22px;
}

.nav-right div p {
  display: inline;
  font-size: 12px;
}

.nav-right-cart {
  position: relative;
  width: 40px;
  transition: all 0.9s ease;
}

.nav-right-cart:hover .nav-right-cart-temp {
  display: block;

}

.nav-right-cart-temp {
  margin-top: 5px;
  position: absolute;
  width: 380px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #0065EE;
  border-radius: 10px;
  z-index: 9999;
  transform: translateX(-315px);
  padding: 5px;
  display: none;
}

.nav-right-cart-temp-empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-right-cart-temp-empty img {
  object-fit: fill;
  width: 250px;
}

.nav-right-cart-temp-empty p {
  padding-left: 20px;
  width: 250px;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-top: 5px;
}

.nav-right-cart-temp-total {
  border-top: 1px solid #0065EE;
  margin-top: 10px;
  display: flex;
}

.nav-right-cart-temp-total td:nth-child(1) {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  width: 50%;
  margin-top: 5px;
}

.nav-right-cart-temp-total td:nth-child(2) {
  text-align: end;
  padding: 10px;
  color: #fe3464;
  font-size: 18px;
  font-weight: 600;
}

.nav-right-cart-temp-total-button a {
  padding-right: 20px;
}

.nav-right-cart-temp-total-button a button {
  width: 100%;
  background-color: #0065EE;
  border: 1px solid #0065EE;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.nav-right-cart-temp-total-button:hover a button {
  font-weight: bold;
}

.nav-right-cart-temp tr:nth-child(1) {
  border-top: none;
}

.nav-right-cart-temp tr:nth-child(even) p {
  display: flex;
  font-size: 15px;
  width: 70px;
}

.nav-right-cart-temp tr:nth-child(even) p>sup {
  transform: translateY(10px);
}

.nav-right-cart-temp tr:nth-child(even) td:nth-child(2) {
  margin-left: 0px;
  font-size: 14px;
  transform: translateY(-6px);
}

.nav-right-cart-temp tr:nth-child(odd) td:nth-child(2) p {
  display: flex;
  width: 250px;
}

.nav-right-cart-temp tr:nth-child(odd) td:nth-child(1) img {
  width: 100px;
}

.nav-right-cart-temp tr:nth-child(odd) td:nth-child(3) {
  font-size: 20px;
  transform: translateX(-30px);
}

.nav-right-cart-temp tr:nth-child(odd) td:nth-child(3) button {
  color: #ffffff;
  background-color: #ffffff;
}

.nav-right-cart>p {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #e0374a;
  border-radius: 50%;
  margin-right: 5px;
  transform: translateY(-10px);
  line-height: 21px;
}

/* --------------------CATEGORY--------------------- */
.marginTop80px {
  margin-top: 80px;

}

.CategoryCarouse {
  padding-top: 10px;
  margin-bottom: 0;

}

.CategoryCarouse-content {
  display: flex;

}

.category {
  min-width: 140px;
  border: 1px solid #0065EE;
  border-radius: 15px;
  position: relative;
  background-color: #ffffff;
  margin: 0 15px 10px 0;
  height: 310px;
  z-index: 0;
}

.category-content {
  padding: 5px;
  height: fit-content;
}

.category-content ul {
  position: absolute;
  left: 0;
  margin-top: 5px;
  justify-content: center;
  transform: translateX(-7px);
  transition: all 0.4s ease;

}

.category-content ul h5 {
  font-weight: normal;
  font-size: 18px;
  transform: translateX(-5px);
}

.category-content ul li {
  margin-bottom: 2px;

}

.category-content ul li:hover {
  transform: translateX(10px);
}

.category-content ul li a {
  color: black;
}

.category-content ul li a:hover {
  color: #0065EE;
}

.category-content ul li a img {
  width: 90px;
  border: 1px solid #0065EE;
  padding-bottom: 1px;
  border-radius: 5px;
  z-index: 1;
}

.category-content ul li a img:hover {
  border: 2px solid #FE3464;
}

.slider01 {
  width: 90%;
}

.slider01-top {
  border: 1px solid #ffffff;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.slider01-top-container {
  width: 100%;
  height: 310px;
  position: relative;

}


.slider01-top-container a img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slider01-top-container a:nth-child(2) img {
  transform: translateX(100%);
}

.slider01-top-container a:nth-child(3) img {
  transform: translateX(200%);
}

.slider01-top-container a:nth-child(4) img {
  transform: translateX(300%);
}

.slider01-top-container a:nth-child(5) img {
  transform: translateX(400%);
}

.slider01-top-container a:nth-child(6) img {
  transform: translateX(500%);
}

.slider01-top-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 40%;
}

.slider01-top-btn i {
  color: #ffffff;
  font-size: 30px;
  height: 45px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065EE;
  opacity: 0.4;
  cursor: pointer;
}

.slider01-top-btn i:first-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slider01-top-btn i:last-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slider01-top-btn i:hover {
  opacity: 1.0;
}

.slider01-top-button {

  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 8px;
  top: 90%;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: #ffffff80;
  cursor: pointer;
  margin-left: 20px;
}

.dot-active {
  background-color: #0065EE;
}

/* ----------------------BANNER 01------------------------- */
.banner01 {
  margin-bottom: 10px;
}

.banner01-content {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 10px;

}

.banner01-content a img {
  object-fit: none;
  width: 100%;
  height: 40px
}

/*-------------------LAPTOP PROP----------------------------- */


.laptop-prop-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px 5px 10px 5px;
  height: 500px;
  overflow: hidden;
}



.moveY-40px>a>img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  transition: all 0.4s ease;
  padding: 0;
  margin-bottom: 10px;
}

.moveY-40px>a:hover>img {
  transform: translateY(-15px);
}

.moveY-95px {
  transform: translateY(-95px);
}

.laptop-prop-container-text {
  padding: 0 15px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.laptop-prop-container-text>a>p {
  font-size: 15px;
  font-weight: bolder;
  color: #444444;
  margin-bottom: 10px;
  cursor: pointer;
}

.laptop-prop-container-text>a>p:hover {
  color: #0065EE
}

.laptop-prop-container-text>a>h5:hover {
  color: #0065EE;
}

.laptop-prop-container-text-sellingPrice {
  justify-content: center;
}

.laptop-prop-container-text-sellingPrice p {
  color: #e0374a;
  font-size: 16px;
  font-weight: bold;
}

.laptop-prop-container-text-listedPrice {
  margin-top: 0;
  display: flex;
  margin-top: 10px;
}

.laptop-prop-container-text-listedPrice p {
  color: #707070;
  font-size: 13px;
  font-weight: normal;
  transform: translateY(-17px);

}

.laptop-prop-container-text-listedPrice p:nth-child(2) {
  color: #FE3464;
  font-size: 13px;
  height: 20px;
  width: 35px;
  background-color: #fff5f7;
  text-align: center;
  border-radius: 3px;
  font-weight: normal;
  position: absolute;
  margin-left: 85px;
}

.laptop-prop-container-bottom {
  display: flex;
}

.laptop-prop-container-text-product-review p {
  font-size: 20px;
  transform: translateY(-15px);
}

.laptop-prop-container-text-addCart {
  position: absolute;
  right: 15px;
  font-size: 25px;
  transform: translateY(-15px);
}

.laptop-prop-container-text-addCart:hover i {
  color: #e0374a;
}



.moveY-40px {
  transform: translateY(-40px);

}

.laptop-prop-container-text-laptopConfig {
  transform: translateY(-20px);
  border-bottom: 1px solid #0065EE;

}

.laptop-prop-container-text-laptopConfig li p {
  margin: 0;
  padding-bottom: 5px;
  font-size: 14px;
}

/* ----------------SLIDER OUTSTANDING LAPTOP--------------- */
.SliderOutstandingLaptop {
  margin: 10px 0 10px 0;
}

.SliderOutstandingLaptop-container {
  background-color: #76bdee;
  border-radius: 10px;
  padding: 0;

}

.SliderOutstandingLaptop-container {}

.SliderOutstandingLaptop-container-title {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 10px;
}

.SliderOutstandingLaptop-container-title h4 {
  padding: 10px 0 0 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin: 0;
}

.SliderOutstandingLaptop-container-laptop {
  position: relative;
  height: 510px;
  overflow: hidden;
  padding: 0 0 5px 0;
  margin-top: 0px;
}

.SliderOutstandingLaptop-container-laptop-items {
  position: relative;
  display: flex;
  width: 100%;
  transition: all 0.9s ease;

}

/* tốn hơn cả ngày mới tìm ra */

.SliderOutstandingLaptop-container-laptop-item {
  position: absolute;
  width: 20%;
}

@media screen and (max-width: 1000px) {
  .SliderOutstandingLaptop-container-laptop-item {
    width: 25% !important;
  }
}

@media screen and (max-width: 850px) {
  .SliderOutstandingLaptop-container-laptop-item {
    width: 33% !important;
  }
}

@media screen and (max-width: 650px) {
  .SliderOutstandingLaptop-container-laptop-item {
    width: 50% !important;
  }
}


.SliderOutstandingLaptop-container-laptop-item:nth-child(1) {
  transform: translate(100%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(2) {
  transform: translate(200%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(3) {
  transform: translate(300%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(4) {
  transform: translate(400%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(5) {
  transform: translate(500%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(6) {
  transform: translate(600%);
}

.SliderOutstandingLaptop-container-laptop-item:nth-child(7) {
  transform: translate(700%);
}

.slider02-top-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 40%;
}

.slider02-top-btn i {
  color: #ffffff;
  font-size: 30px;
  height: 45px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065EE;
  opacity: 0.4;
  cursor: pointer;
}

.slider02-top-btn i:first-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slider02-top-btn i:last-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slider02-top-btn i:hover {
  opacity: 1.0;
}

/* ----------------------BANNER 02------------------------- */
.banner02 {
  margin-bottom: 10px;
}

.banner02-content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
}

.banner02-content-1 {
  width: 49%;
  margin-right: 10px;
}

.banner02-content-2 {
  width: 49%;
}

.banner02-content a img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .banner02-content-1 {
    width: 100%;
  }

  .banner02-content-2 {
    width: 100%;
    margin-top: 10px;
  }
}

/* ----------------LAPTOP BEST SELLING--------------- */

.LaptopBestSelling {
  margin: 0 0 10px 0;
}

.LaptopBestSelling-container-laptop {
  position: relative;
  height: fit-content;
  padding: 0 0 5px 0;
  margin-top: 0px;
}

.LaptopBestSelling-container-laptop-items {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  transition: all 0.9s ease;

}

/* tốn hơn cả ngày mới tìm ra */

.LaptopBestSelling-container-laptop-item {
  width: 20%;
}

@media screen and (max-width: 1000px) {
  .LaptopBestSelling-container-laptop-item {
    width: 25% !important;
  }
}

@media screen and (max-width: 850px) {
  .LaptopBestSelling-container-laptop-item {
    width: 33% !important;
  }
}

@media screen and (max-width: 650px) {
  .LaptopBestSelling-container-laptop-item {
    width: 50% !important;
  }
}


/* --------------------ALL LAPTOPS------------------------- */
.AllLaptops {
  margin: 0 0 10px 0;
}

.AllLaptops-container {
  position: relative;
  overflow: hidden;
  background-color: #76bdee;
  border-radius: 10px;

}

.AllLaptops-container-title h4 {
  padding: 20px 0 5px 15px;
  color: #ffffff;
  font-weight: bold;
}

.AllLaptops-container-laptop-items {
  position: relative;
  display: flex;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

/* -----------------------PAGINATION------------------------------- */

.Pagination {
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

.Pagination-container {
  margin-top: 5px;
  justify-content: center;
  height: 30px;
}

.Pagination-container-items:first-child button {
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #0d6efd;
  font-size: 10px;
  border: 1px solid #ffffff;

}

.Pagination-container-items:first-child {
  margin: 0 10px 5px 0;
}

.Pagination-container-items:first-child button p {
  text-align: center;
  justify-content: center;
  font-size: 35px;
  transform: translateY(-11px);
}

.Pagination-container-items:first-child button:hover {
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: #ffffff;
}

.Pagination-container-items:last-child button {
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #0d6efd;
  font-size: 10px;
  border: 1px solid #ffffff;
}

.Pagination-button-middle {
  margin-top: 5px;
}

.Pagination-container-items:last-child {
  margin-left: 0px;
  margin-bottom: 5px;
}

.Pagination-container-items:last-child button p {
  text-align: center;
  justify-content: center;
  font-size: 35px;
  transform: translateY(-11px);
}

.Pagination-container-items:last-child button:hover {
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: #ffffff;
}

.Pagination-container-items button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.Pagination-button-middle button:hover {
  color: #b8b4b4;
}

.Pagination-container-items {
  padding-bottom: 20px;
}

.Pagination-container-items button p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/* ------------------------FOOTER---------------------------- */

.FooterLine {
  border-top: 3px solid #0065EE;
  background-color: #f6f9fc;
}

.FooterItem {
  margin-bottom: 10px;
}

.FooterItem-container {
  /* background-color: #ffffff; */
  background-color: #76bdee;
  border-radius: 10px;
  margin-top: 10px;
}

.FooterItem-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 7px;
}

.FooterItem-container-item {
  background-color: #ffffff;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
  width: 19%;
}

.FooterItem-container-item:nth-child(4) {
  width: 39%;
}

@media screen and (max-width: 1000px) {
  .FooterItem-container-item:nth-child(1) {
    width: 32%;
  }

  .FooterItem-container-item:nth-child(2) {
    width: 32%;
  }

  .FooterItem-container-item:nth-child(3) {
    width: 32%;
  }

  .FooterItem-container-item:nth-child(4) {
    width: 49%;
  }
}

@media screen and (max-width: 700px) {
  .FooterItem-container-item:nth-child(1) {
    width: 48%;
  }

  .FooterItem-container-item:nth-child(2) {
    width: 48%;
  }

  .FooterItem-container-item:nth-child(3) {
    width: 48%;
  }

  .FooterItem-container-item:nth-child(4) {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {

  .FooterItem-container-item:nth-child(3) {
    width: 98%;
  }

  .FooterItem-container-item:nth-child(4) {
    width: 98%;
  }
}

.FooterItem-container-item-sub {
  transform: translateY(-10px);
}


.FooterItem-container-item-h {
  position: relative;
  margin-left: 5px;
}

.FooterItem-container-item-h-border {
  position: absolute;
  border-bottom: 1px solid #0065EE;
  bottom: 0;
  left: 0;
  width: 75px;
  transform: translateY(7px);
}

.FooterItem-container-item h5 {
  font-size: 16px;
  margin-bottom: 10px;

}

.FooterItem-container-item ul {
  padding-top: 5px;
  margin-left: 10px;
}

.FooterItem-container-item ul li a {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  opacity: 0.8;
}

.FooterItem-container-item ul li a:hover {
  color: #0065EE;
}

.FooterItem-container-item-payment {
  transform: translateX(-40px);
}

.FooterItem-container-item-payment-img ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.FooterItem-container-item-payment-img ul li {
  margin: 5px;
}

.FooterItem-container-item-payment-img ul li img {
  width: 100%;
  border: 1px solid #0065EE;
  border-radius: 5px;
}



.FooterItem-container-item-payment-img ul li {
  width: 80px;
}

.FooterItem-container-item-tt {
  margin-bottom: 30px;
}

.FooterItem-container-item-email {
  margin-top: 25px;
  width: 95%;
  margin-left: 10px;
}

.FooterItem-container-item-email input {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  font-size: 16px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #76bdee;
}

.FooterItem-container-item-email input:focus {
  outline: #76bdee;

  border-bottom: 2px solid #76bdee;
}


.FooterItem-container-item-email button {
  background-color: #0065EE;
  border: 1px solid #0065EE;
  padding: 2px 4px;
  width: 90px;
  height: 35px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: #ffffff;
}

.FooterItem-container-item-email button:hover {
  background-color: #ffffff;
  border: 1px solid #0065EE;
  padding: 2px 4px;
  width: 90px;
  height: 35px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: #0065EE;
}

.FooterItem-container-bottom {
  justify-content: center;

}

.FooterItem-container-bottom p {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.LaptopDetails {
  background-color: #f6f9fc;

}

.LaptopDetails-content {
  margin-top: 20px 0 15px 0;
}

.LaptopDetails-content-directory-tree {
  display: flex;
  font-size: 14px;
  padding-top: 15px;

}

.LaptopDetails-content-directory-tree p {
  margin-right: 20px;
}

.LaptopDetails-content-left {
  width: 50%;
  margin-right: 10px;
}

.LaptopPictureDetail {
  width: 100%;
}

.LaptopPictureDetail-content {
  background-color: #76bdee;
  border-radius: 10px;
  display: flex;
}

.LaptopPictureDetail-img-left {
  margin: 5px;
  border-radius: 10px;
  width: 81%;
  background-color: #ffffff;
}

.LaptopPictureDetail-img-left img {
  width: 100%;
  border-radius: 10px;

}

.LaptopPictureDetail-img-right {
  width: 17%;
  background-color: #76bdee;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.LaptopPictureDetail-img-right img {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

.LaptopPictureDetail-img-right img:first-child {
  margin-bottom: 5px;
}

.LaptopPictureDetail-img-right img:hover {
  border: 2px solid #0065EE;

}

.LaptopDetails-content-top {
  display: flex;

}

.LaptopDetails-content-right {
  position: fixed;
  left: 50%;
  z-index: 1;
  background-color: #76bdee;
  border-radius: 10px;
  margin-left: 10px;
  transition: all 0.6s ease;
}

.LaptopDetails-content-right.top60 {
  top: 56px
}

.LaptopDetails-content-right.top172 {
  top: 172px
}

.LaptopDetails-content-right-border {
  margin: 5px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;

}

.LaptopDetails-content-right-product-name p {
  margin-bottom: 10px;

}

.LaptopDetails-content-right-product-name p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.LaptopDetails-content-right-product-name p:nth-child(2) {
  font-size: 14px;
}

.LaptopDetails-content-right-product-name p:nth-child(3) {
  font-size: 14px;
}

.LaptopDetails-content-right-product-name p span {
  color: #0065EE;
}

.LaptopDetails-content-right-product-add {
  display: flex;
  flex-wrap: wrap;
}

.LaptopDetails-content-right-product-add-btn1 {
  width: 77%;
}

@media screen and (max-width: 1190px) {
  .LaptopDetails-content-right-product-add-btn1 {
    width: 100%;
  }

  .LaptopDetails-content-right-product-add-btn2 {
    margin-left: 0 !important;
  }

}

@media screen and (max-width: 985px) {
  .LaptopDetails-content-right.top172 {
    top: 207px;
  }
}


.LaptopDetails-content-bottom {
  background-color: #76bdee;
  width: 50%;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 5px;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 820px) {
  .LaptopDetails-content-right {
    width: 100% !important;
    position: relative;
    left: 0;
    margin: 0;
    z-index: none;
  }

  .LaptopDetails-content-right.top60 {
    top: 0px
  }

  .LaptopDetails-content-right.top172 {
    top: 0px
  }




  .LaptopDetails-content-left {
    min-width: 100%;
  }

  .LaptopDetails-content-top {
    flex-wrap: wrap;
  }

  .LaptopDetails-content-left {
    margin-bottom: 10px;
  }

  .LaptopDetails-content-bottom {
    width: 100%;
  }

  .LaptopDetails-content-bottom-review-border {
    width: 100% !important;
  }

}


.LaptopDetails-content-right-product-add-btn1 a p button {
  width: 100%;
  height: 55px;
  height: auto;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #fe3464;
  border: 1px solid #fe3464;
  color: #ffffff;
  font-size: 20px;
  line-height: normal;
}

.LaptopDetails-content-right-product-add-btn1 a p button:hover {
  background-color: #e81b4b;
}

.LaptopDetails-content-right-product-add-btn1 a p button span {
  font-size: 13px;
}

.LaptopDetails-content-right-product-add-btn2 {
  margin: 5px 0 0 10px;
}

.LaptopDetails-content-right-product-add-btn2 p button {
  width: 110px;
  height: 52px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 2px solid #0065EE;
  color: #ffffff;
  transform: translateY(-5px);
}

.LaptopDetails-content-right-product-add-btn2 p button i {
  font-size: 30px;
  color: #0065EE;
  margin-top: 8px;
  line-height: 18px;
}

.LaptopDetails-content-right-product-add-btn2 p button i span {

  line-height: 10px;
  font-weight: lighter;
  font-size: 14px;
}

.LaptopDetails-content-right-product-add-btn2 p button:hover {
  background-color: #f0f2f4;
}

.LaptopDetails-content-bottom-border {
  width: 100%;
}


.LaptopDetails-content-bottom-config {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}


.LaptopDetails-content-bottom-config-bottom {
  padding-left: 10px;
  padding-right: 10px;
}

.LaptopDetails-content-bottom-config-top h5 {
  padding-left: 10px;
  padding-top: 10px;
}

table,
td {
  padding: 5px 0 5px 10px;
  font-size: 14px;
  text-align: start;
}

table,
td:first-child {
  width: 30%;
}

table,
td:last-child {
  width: 100%;
}


.LaptopDetails-content-bottom-config-bottom-item {
  background-color: #b1c3d1;
  font-size: 15px;
  font-weight: bold;
}

/*------------------ RENDER RATING --------------------------*/
.renderRating-starfill {
  color: #fac800;
}

.tex-secondary {
  color: #0065ee;
}

.LaptopDetails-content-right-product-review {
  display: flex;
}

.LaptopDetails-content-right-product-review p:first-child {
  padding-right: 10px;
}

.LaptopDetails-content-right-product-review p:last-child {
  font-size: 14px;
  line-height: 30px;
  color: #006aff;
  font-weight: normal;
}

.LaptopDetails-content-right-product-price strong {
  color: #e0374a;
  font-size: 20px;
  font-weight: bold;
}

.LaptopDetails-content-right-product-priceAndAdd {
  width: 100%;
}

.LaptopDetails-content-right-product-price {
  width: 100%;
}

.LaptopDetails-content-right-product-price del {
  margin-top: 0;
  display: flex;
  margin-top: 10px;
}


.LaptopDetails-content-right-product-price p:first-child {
  color: #707070;
  font-size: 12px;
  font-weight: normal;
}

.LaptopDetails-content-right-product-price p:nth-child(2) {
  color: #FE3464;
  font-size: 14px;
  height: 20px;
  width: 35px;
  background-color: #fff5f7;
  text-align: center;
  border-radius: 3px;
  font-weight: normal;
  transform: translateY(5px);
  margin-left: 10px;
}


.LaptopDetails-content-bottom-review {
  margin: 10px 0;

}

.LaptopDetails-content-bottom-review-border {
  width: 50%;
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
}

.Review-latop {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

/*---------------------------CART--------------------------------*/

.cart-mk {
  padding: 10px;

}

.cart-border {
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
}



.cart-top {
  border: 1px solid #e7e8e9;
  width: 100%;
  height: 85px;
  border-radius: 10px;
  background-color: #ffffff;
}

.cart-top-container {
  position: relative;
  margin: 20px;
  justify-content: center;
  text-align: center;


}

.cart-top-wrap {
  margin: 25px 0px 25px 27px;
  height: 5px;
  width: 95%;
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px);
}

.cart-top-wrap-active1 {
  margin: 25px 27px;
  height: 5px;
  width: 32%;
  background-color: #0065EE;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px);

}


.cart-top-wrap-item {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: translateY(-7px);
}

.cart-top-wrap-item-active {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #0065EE;
  align-items: center;
  justify-content: center;
  background-color: #0065EE;
  transform: translateY(-7px);
}

.cart-top-text {
  margin: 25px 27px;
  height: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.cart-top-text-item p {
  color: #221f20;
  font-size: 14px;
}

.cart-top-text-item:nth-child(1) p {
  transform: translateX(-16px);
}

.cart-top-text-item:nth-child(2) p {
  transform: translateX(-10px);
}

.cart-top-text-item:nth-child(3) p {
  transform: translateX(-10px);
}

.cart-top-text-item:nth-child(4) p {
  transform: translateX(-20px);
}


.cart-border-bottom {
  margin-top: 10px;
}

.cart-content {
  display: flex;
  flex-wrap: wrap;
}


.cart-content-left-border {
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
  width: 64%;
  margin-right: 5px;
}

.cart-content-left {
  padding: 5px 5px 10px 5px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
}

.cart-content-left h4 {
  font-weight: normal;
}

.cart-content-left table {
  margin-top: 20px;
}

.cart-content-left h4 span {
  color: #fe3464;
  font-weight: normal;
}

@media screen and (max-width: 1170px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    width: 125px !important;
  }
}

@media screen and (max-width: 1100px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    width: 90px !important;
  }
}

@media screen and (max-width: 1060px) {


  .cart-content-left-border {
    width: 100%;
    margin: 0 !important;
  }

  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 330px;
  }

  .cart-content-right-border {
    margin: 10px 0 0 0 !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 250px;
  }
}

@media screen and (max-width: 910px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 200px;
  }
}

@media screen and (max-width: 860px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 150px;
  }
}

@media screen and (max-width: 810px) {
  .cart-content-left-laptopItem td:nth-child(2) p {
    min-width: 100px;
  }
}

@media screen and (max-width: 750px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 470px !important;
  }
}

@media screen and (max-width: 730px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 420px !important;
  }
}

@media screen and (max-width: 700px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 370px !important;
  }
}

@media screen and (max-width: 630px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 320px !important;
  }
}

@media screen and (max-width: 580px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 270px !important;
  }
}

@media screen and (max-width: 550px) {
  .cart-content-left-laptopItem-small1 td:nth-child(2) p {
    width: 200px !important;
  }

  .cart-content-left-laptopItem-small1 td:nth-child(3) button {
    transform: translateX(-25px);
  }

  .cart-content-left-laptopItem-small2 td:nth-child(1) {
    min-width: 120px !important;
    font-size: 16px !important;
    color: #fe3464;
  }


  .cart-content-left-laptopItem-small2 td:nth-child(2) {
    display: flex;
    justify-content: end;
    width: 130px;
  }

}

.cart-content-left-textHeader th {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  justify-content: center;
  height: 30px;
  transform: translateY(-5px);
}

.cart-content-left-tbody {
  padding: 10px;
}


.cart-content-left-laptopItem-small1 {
  border-top: 1px solid #0065EE;
}

.cart-content-left-laptopItem-small1 td:nth-child(1) img {
  width: 120px;
}

.cart-content-left-laptopItem-small1 td:nth-child(2) p {
  width: 300px;
}

.cart-content-left-laptopItem-small1 td:nth-child(3) button {
  width: 10px;
  border: none;
  margin-bottom: 15px;

}

.cart-content-left-laptopItem-small1 td:nth-child(3) button i {
  font-size: 22px;
  opacity: 0.8;
  margin-right: 20px;
}

.cart-content-left-laptopItem-small2 td:nth-child(1) {
  width: 120px;
  font-size: 16px;
  color: #fe3464;
}

.cart-content-left-laptopItem-small2 td:nth-child(2) {
  display: flex;
  justify-content: end;
  margin-left: 30px;
}

.cart-content-left-laptopItem-small2 td:nth-child(2) button {
  width: 40px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #76bdee;
}

.cart-content-left-laptopItem-small2 td:nth-child(2) button:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cart-content-left-laptopItem-small2 td:nth-child(2) button:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart-content-left-laptopItem-small2 td:nth-child(2) button:nth-child(2) {
  width: 55px;
  border: none;
  border-top: 1px solid #76bdee;
  border-bottom: 1px solid #76bdee;
}

.cart-content-left-laptopItem {
  border-bottom: 1px solid #0065EE;
  border-top: 1px solid #0065EE;
}

.cart-content-left-laptopItem td:nth-child(1) img {
  width: 120px;
}

.cart-content-left-laptopItem td:nth-child(2) p {
  width: 175px;
}

.cart-content-left-laptopItem td:nth-child(3) p {
  width: 85px;
}


.cart-content-left-laptopItem td:nth-child(4) {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 34px;
}

.cart-content-left-laptopItem td:nth-child(4) button {
  width: 40px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #76bdee;
}

.cart-content-left-laptopItem td:nth-child(4) button:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cart-content-left-laptopItem td:nth-child(4) button:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart-content-left-laptopItem td:nth-child(4) button:nth-child(2) {
  width: 55px;
  border: none;
  border-top: 1px solid #76bdee;
  border-bottom: 1px solid #76bdee;
}


.cart-content-left-laptopItem td:nth-child(5) p {
  width: 100px;
  font-size: 16px;
  color: #fe3464;
}

.cart-content-left-laptopItem td:nth-child(6) button {
  width: 40px;
  background-color: #ffffff;
  border: none;
  margin-bottom: 15px;
}

.cart-content-left-laptopItem td:nth-child(6) button i {
  font-size: 20px;
  opacity: 0.8;
}

.cart-content-right-border {
  background-color: #76bdee;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  width: 35%;
  height: 100%;
}

.cart-content-right-content {

  background-color: #ffffff;
  border-radius: 10px;
  height: fit-content;
  padding: 5px;
}

.cart-content-right {
  width: 100%;
}

.cart-content-right-table {
  width: 100%;
}


.cart-content-right-table tr th {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.cart-content-right-table tr td {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}


.cart-content-right-table tr:nth-child(2) td {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;

}

.cart-content-right-table tr:nth-child(2) td:nth-child(2) {
  text-align: end;
  padding: 10px;
}

.cart-content-right-table tr:nth-child(3) td:nth-child(1) {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.cart-content-right-table tr:nth-child(3) td:nth-child(2) {
  text-align: end;
  padding: 10px;
  color: #fe3464;
}

.cart-content-right-table tr:nth-child(4) td:nth-child(1) {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.cart-content-right-table tr:nth-child(4) td:nth-child(2) {
  text-align: end;
  padding: 10px;
  color: #fe3464;
  font-size: 20px;
  font-weight: 600;
}

.cart-content-right-button {
  width: 100%;
}

.cart-content-right-bottom {
  margin: 10px 0px;
}

.cart-content-empty {
  margin-top: 25px;
  margin-bottom: 10px;
}

.cart-content-empty-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cart-content-empty-content-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-content-empty-content-picture img {
  object-fit: fill;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

.cart-content-empty-content-picture p {
  text-align: center;
  width: 100%;
  max-width: 700px;
  font-size: 18px !important;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  margin-top: 20px;

}

.cart-content-empty-content-button {
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  height: 25px;
  margin-bottom: 20px;
}

.cart-content-empty-content-button a {
  padding-right: 20px;
}

.cart-content-empty-content-button a button {
  width: 100%;
  background-color: #0065EE;
  border: 1px solid #0065EE;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.cart-content-empty-content-button:hover a button {
  font-weight: bold;
}

.cart-content-right-bottom-button a {
  padding-right: 20px;
}

.cart-content-right-bottom-button a button {
  width: 100%;
  background-color: #fe3464;
  border: 1px solid #fe3464;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.order_custom_infor {
  margin-left: 10px;
}

.order_custom_infor_gender {
  margin: 15px 0;
}

.order_custom_infor_gender_item_1 {
  margin-right: 5px;
}

.order_custom_infor_gender_item_2 {
  margin-left: 35px;
  margin-right: 5px;
}


.order_custom_infor_gender label {
  font-size: 15px;
}

.order_custom_infor_fullname {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media screen and (max-width: 1180px) {
  .order_custom_infor_fullname input:nth-child(1) {

    width: 100% !important;

  }

  .order_custom_infor_fullname input:nth-child(2) {
    width: 100% !important;
  }

  .order_custom_infor_address select {
    width: 100% !important;

  }
}

@media screen and (max-width: 780px) {

  .order-border {
    width: 100% !important;
  }

}

.order_custom_infor_fullname input:nth-child(1) {
  border-radius: 5px;
  border: 1px solid #76bdee;
  width: 300px;
  height: 35px;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.order_custom_infor_fullname input:nth-child(2) {
  border-radius: 5px;
  border: 1px solid #76bdee;
  width: 300px;
  height: 35px;
  font-size: 14px;
  padding-left: 10px;
}


.order_custom_infor_fullname input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}


.cart_form h4 {
  font-size: 16px;
  font-weight: bold;
}

.cart_form h5 {
  font-size: 14px;
  font-weight: normal;
}

.order_custom_infor_address {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0 10px;
  justify-content: space-between;
}

.order_custom_infor_address select {
  width: 300px;
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #76bdee;
  border-radius: 5px;
}

.order_custom_infor_address select:focus {
  border: 2px solid #76bdee;
}


.order_custom_infor_address select:optional {
  font-size: 14px;
  padding-left: 10px;
}

.order_custom_infor_address select:nth-child(3) {
  width: 630px;
}

.order_custom_infor_address input {
  width: 630px;
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.order_custom_infor_address input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.order_custom_infor_VAT {}

.order_custom_infor_VAT label {
  margin-right: 10px;
  margin-bottom: 15px;
}

.custom_checkbox_detail {
  margin: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.custom_checkbox_detail input {
  width: 50%;
}



/* Style the custom checkbox */
.custom_checkbox {
  transform: translateY(1px);
  width: 20px;
  height: 20px;
  border: 3px solid lightblue;
  position: relative;
}


.order_custom_infor_VAT input[type='text'] {
  width: 620px;
  height: 35px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.order_custom_infor_VAT input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.order_custom_infor_payment_method {
  margin-bottom: 10px;

}

.order_custom_infor_payment_method_border {
  margin-left: 10px;
  border: 1px solid #76bdee;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.order_custom_infor_payment_method_item {
  display: flex;
  flex-wrap: wrap;
}

.order_custom_infor_payment_method_item input {
  margin-right: 10px;
}

.order_custom_infor_payment_method_item label {
  width: 350px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}

.order-content {
  padding: 10px 10px;
}


.order-content-border {
  border-radius: 10px;
  justify-content: center;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

.order {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}

.order-border {
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
  width: 56%;
}

.order_payment {
  width: 100%;
}

.requiredInput {
  color: red;
  font-size: 20px;
}

.order-content-right-table {
  width: 100%;
}

.order-content-right-table tr th {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}


.order-content-right-table tr td {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}


.order-content-right-table tr:nth-child(2) td {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;

}

.order-content-right-table tr:nth-child(2) td:nth-child(2) {
  text-align: end;
  padding: 10px;
}

.order-content-right-table tr:nth-child(3) td:nth-child(1) {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.order-content-right-table tr:nth-child(3) td:nth-child(2) {
  text-align: end;
  padding: 10px;
  color: #fe3464;
}

.order-content-right-table tr:nth-child(4) td:nth-child(1) {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
}

.order-content-right-table tr:nth-child(4) td:nth-child(2) {
  text-align: end;
  padding: 10px;
  color: #fe3464;
  font-size: 20px;
  font-weight: 600;
}

/* ---------------REGISTER USER----------------- */
.register_background_colour {
  background-color: #f6f9fc;
  padding: 30px 0 25px 0;
}

.register_user {}

.register_user h3 {
  margin: 0 0 15px 0;
}

.register_user_border {
  width: 650px;
  margin-left: 20%;
  background-color: #76bdee;
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
}

.register_user_form_user {
  padding: 10px;
  background-color: #ffffff;
  width: 640px;
  border-radius: 5px;
}

.register_user_form_user_border {
  margin-left: 10px;
}

.register_user_form_infor>h5 {
  width: 100%;
}

.register_user_form_infor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 10px;
  background-color: #ffffff;
  width: 640px;
  border-radius: 5px;
}

.register_user_form_infor_border {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}


.register_user_form_infor_button {
  background-color: #ffffff;
  width: 640px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

.register_user_form_infor_button button {
  width: 70%;
  background-color: #0065EE;
  border: 1px solid #0065EE;
  height: 35px;
  border-radius: 5px;
  color: #ffffff;
}

.register_user_form_infor_button:hover button h5 {
  font-weight: bold;
}

.register_user_form_infor_button button h5 {
  text-align: center;
  justify-content: center;
  padding-top: 5px;
}



.register_user_form {
  display: flex;
  flex-wrap: wrap;
}

.register_user_form_item {
  width: 100%;
  margin-bottom: 10px;
}

.register_user_form_item label {
  font-size: 16px;
  margin-bottom: 1px;
  font-weight: normal;
}

.register_user_form_item input[type='text'] {
  width: 610px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item input[type='password'] {
  width: 610px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.register_error {
  font-size: 13px;
  color: #e81b4b;
  width: 100%;
  font-style: italic;
}

.register_user_form_item_1 {
  width: 50%;
  margin-bottom: 10px;
  position: relative;
}

.register_user_form_item_2 {

  margin-bottom: 10px;
  position: relative;
}

.register_user_form_item_1 label {

  font-size: 16px;
  margin-bottom: 1px;
  font-weight: normal;
}

.register_user_form_item_1 input[type='text'] {
  width: 300px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item_1 input[type='text'] {
  width: 300px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item_1 input[type='date'] {
  width: 300px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item_2 {
  width: 600px;
  margin-bottom: 10px;
  position: relative;
}

.register_user_form_item_2 label {
  font-size: 16px;
  margin-bottom: 1px;
  font-weight: normal;
}

.register_user_form_item_2 select {
  width: 605px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item_2 input[type='text'] {
  width: 605px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.register_user_form_item_2 input[type='file'] {
  width: 600px;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  position: relative;

}

.register_user_form_item_2 input[type='file'] {
  display: none;
}

.custom_file_upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 605px;
  height: 35px;
  margin-bottom: 5px;
  border: 1px solid #76bdee;
  border-radius: 5px;

}

.custom_file_upload span {
  font-size: 14px;
  opacity: 0.9;
}

.custom_file_upload p {
  line-height: 15px;
}


.register_user_form_item_file_name {
  position: absolute;
  right: 0;
  bottom: -10%;
  padding-right: 5px;
  font-size: 15px;
  opacity: 0.9;
}

.register_user_form_item_1 select {
  width: 300px;
  height: 35px;
  margin-bottom: 5px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
}

.register_user_form_item_1 select:optional {
  padding-left: 10px;
  font-weight: 14px;
  opacity: 0.9;
  font-weight: normal;
}


.register_user_form_item_1 select:focus {
  border: 2px solid #76bdee;
}

.register_user_form_item_1 input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.Login_background_colour {
  background-color: #f6f9fc;
  padding: 40px 0 40px 0;
}

.Login_border {

  justify-content: center;
  display: flex;
}

.Login_form_border {
  background-color: #76bdee;
  width: 450px;
  justify-content: center;
  display: flex;
  border-radius: 10px;

}

.Login_form {
  width: 440px;
  background-color: #ffffff;
  margin: 5px 5px;
  border-radius: 10px;
  padding: 15px;
}

.Login_form h3 {
  text-align: center;
  font-size: 25px;
  font-weight: normal;
}

.Login_form_email {
  margin-top: 20px;
  text-align: center;
}

.Login_form_email label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: normal;
  width: 100%;
}

.Login_form_email input[type='username'] {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.Login_form_email input[type='password'] {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.Login_form_email input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.Login_form_checkbox label {
  display: flex;
  margin-top: 10px;
}

.Login_form_checkbox label p {
  padding-left: 10px;
  font-weight: normal;
  font-size: 16px;
  opacity: 0.8;
}

/* Style the custom checkbox */
.custom_checkbox_1 {
  transform: translateY(1px);
  width: 18px;
  height: 18px;
  border: 3px solid lightblue;
  position: relative;
}


.Login_form_bottom {
  background-color: #ffffff;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
}

.Login_form_bottom button {
  width: 100%;
  background-color: #0065ee;
  border: 1px solid #0065ee;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.Login_form_bottom button h5 {
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: normal;

}

.Login_form_bottom:hover button h5 {
  font-weight: bold;

}

/* -----------------------LAPTOP BRAND------------------------ */
.Laptops_Brand {
  margin: 0 0 15px 0;
  padding-top: 10px;
  background-color: #f6f9fc;
}

.Laptops_Brand_Border {
  background-color: #76bdee;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.Laptops_Brand_Infor {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;


}

.Laptops_Brand_Infor h4 {
  font-size: 22px;
  font-weight: normal;
}

.Laptops_Brand_Infor h5 {
  font-size: 14px;
  font-weight: normal;
  width: 60%;
  text-align: justify;
}

.Address_background {
  padding: 30px 0 10px 0;
}

.Address_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Address_container_left {
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
  margin: 0 18px 20px 0;
  height: fit-content;
  width: 44%;
  min-width: 460px !important;
}

.Address-container_left_border {
  background-color: #ffffff;
  padding: 15px 10px 10px 10px;
  border-radius: 5px;
}

.Address_container_left_infor {
  border-bottom: 1px solid #0065EE;
  margin-bottom: 10px;
  height: 120px;
}

.Address_container_left_infor ul {
  transform: translateX(-25px);
}

.Address_container_left_infor ul li {
  display: flex;
  font-size: 16px;
}

.Address_container_left_infor ul li:last-child {}

.Address_container_left_infor ul li i {
  position: relative;
  color: #0065EE;
  margin-top: 3px;
}



.Address_container_left_infor ul li p {
  margin-left: 20px;
}

.Address_container_left_infor_circle {
  position: absolute;
  top: -7px;
  right: -9px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0065EE;
}

.Address_container_left_infor_circle1 {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0065EE;
}

.Address_container_left_contact h4 {
  font-size: 20px;
}

.Address_container_left_contact_form {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.Address_container_left_contact_form input[type='text'] {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.Address_container_left_contact_form textarea {
  width: 100%;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #76bdee;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
}

.Address_container_left_contact_form textarea:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.Address_container_left_contact_form input:focus {
  outline: #76bdee;
  border: 2px solid #76bdee;
}

.Address_container_left_contact_form_button {
  width: 100%;
  background-color: #0065EE;
  border: 1px solid #0065EE;
  height: 40px;
  border-radius: 5px;
  color: #ffffff;
}

.Address_container_left_contact_form_button {
  font-weight: bold;
}

.Address_container_right {
  background-color: #76bdee;
  padding: 5px;
  border-radius: 10px;
  margin: 0 10px 20px 0;
  width: 49%;
  min-width: 460px;
  min-height: 445px;
}

.Address-container_right_border {
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
}

.Address-container_right_border iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}